.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-webdesignspor-clubsite {
  width: 100%;
  height: 6112px;
  display: flex;
  opacity: 0.90;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-grey);
}
.home-footer {
  gap: 30px;
  top: 5601px;
  left: 0px;
  width: 1600px;
  height: 511px;
  display: flex;
  padding: 80px 247px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(33, 33, 33, 1);
}
.home-group27 {
  top: 0px;
  left: 0px;
  width: 1600px;
  height: 527px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 0);
}
.home-ourdepartment {
  gap: 54px;
  top: 80px;
  left: 247px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  color: var(--dl-color-default-yellomain);
  height: auto;
  font-size: 24px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame16 {
  gap: 30px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text002 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text004 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text006 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text008 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text010 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-abonement {
  gap: 54px;
  top: 80px;
  left: 467px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text012 {
  color: var(--dl-color-default-yellomain);
  height: auto;
  font-size: 24px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame17 {
  gap: 30px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text014 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text016 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text018 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text020 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text022 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text024 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-contacts {
  gap: 64px;
  top: 80px;
  left: 1038px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.home-text026 {
  color: var(--dl-color-default-yellomain);
  height: auto;
  font-size: 24px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-group21 {
  width: 315px;
  height: 170px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-text028 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text030 {
  top: 100px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text032 {
  top: 150px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text034 {
  top: 50px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-questions {
  gap: 42px;
  top: 80px;
  left: 817px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text036 {
  color: var(--dl-color-default-yellomain);
  height: auto;
  font-size: 24px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-group18 {
  width: 152px;
  height: 20px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-text038 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text040 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-app {
  gap: 58px;
  top: 80px;
  left: 667px;
  width: 150px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  margin-right: 21px;
  flex-direction: column;
}
.home-text042 {
  color: var(--dl-color-default-yellomain);
  height: auto;
  font-size: 24px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-group20 {
  width: 120px;
  height: 120px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-text044 {
  left: 1.0008645057678223px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text046 {
  top: 50px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text048 {
  top: 100px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-fifthscreen {
  gap: 10px;
  top: 4427px;
  left: 0px;
  width: 1600px;
  height: 1181px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(46, 46, 47, 1);
}
.home-frame27 {
  gap: 10px;
  display: flex;
  z-index: 1;
  align-items: flex-start;
  justify-content: center;
}
.home-text050 {
  color: var(--dl-color-default-yellomain);
  height: auto;
  font-size: 64px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 104.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.home-facts {
  gap: 30px;
  width: 1170px;
  display: flex;
  z-index: 2;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.home-fact1 {
  width: 270px;
  height: 300px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
.home-group22 {
  top: 10.000198364257812px;
  left: 0px;
  width: 120px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle5 {
  top: 4.05126953125px;
  left: 0px;
  width: 120px;
  height: 28px;
  position: absolute;
}
.home-text052 {
  left: 18px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text054 {
  top: 201px;
  left: 66px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-coach1 {
  top: 76px;
  left: 97px;
  width: 75px;
  height: 75px;
  position: absolute;
}
.home-fact2 {
  width: 270px;
  height: 300px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
.home-group2201 {
  top: 10.000198364257812px;
  left: 0px;
  width: 120px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle51 {
  top: 4.05126953125px;
  left: 0px;
  width: 120px;
  height: 28px;
  position: absolute;
}
.home-text058 {
  left: 18px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text060 {
  top: 194px;
  left: 10px;
  color: rgba(255, 255, 255, 1);
  width: 249px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text066 {
  top: 194px;
  left: 10px;
  color: rgba(255, 255, 255, 1);
  width: 249px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-image24hours1 {
  top: 76px;
  left: 98px;
  width: 75px;
  height: 75px;
  position: absolute;
}
.home-fact3 {
  width: 270px;
  height: 300px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
.home-group2202 {
  top: 10.000198364257812px;
  left: 0px;
  width: 120px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle52 {
  top: 4.05126953125px;
  left: 0px;
  width: 120px;
  height: 28px;
  position: absolute;
}
.home-text072 {
  left: 18px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text074 {
  top: 194px;
  left: 10px;
  color: rgba(255, 255, 255, 1);
  width: 249px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-web1 {
  top: 76px;
  left: 98px;
  width: 75px;
  height: 75px;
  position: absolute;
}
.home-fact4 {
  width: 270px;
  height: 300px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
.home-group2203 {
  top: 10.000198364257812px;
  left: 0px;
  width: 120px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle53 {
  top: 4.05126953125px;
  left: 0px;
  width: 120px;
  height: 28px;
  position: absolute;
}
.home-text078 {
  left: 18px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-membership1 {
  top: 76px;
  left: 98px;
  width: 75px;
  height: 75px;
  position: absolute;
}
.home-text080 {
  top: 194px;
  left: 10px;
  color: rgba(255, 255, 255, 1);
  width: 249px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-fact5 {
  width: 270px;
  height: 300px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
.home-group2204 {
  top: 10.000198364257812px;
  left: 0px;
  width: 120px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle54 {
  top: 4.05126953125px;
  left: 0px;
  width: 120px;
  height: 28px;
  position: absolute;
}
.home-text082 {
  left: 18px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text084 {
  top: 194px;
  left: 10px;
  color: rgba(255, 255, 255, 1);
  width: 249px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-smartphone1 {
  top: 76px;
  left: 98px;
  width: 75px;
  height: 75px;
  position: absolute;
}
.home-fact6 {
  width: 270px;
  height: 300px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
.home-back {
  top: 0px;
  left: 0px;
  width: 270px;
  height: 300px;
  position: absolute;
  border-radius: 20px;
}
.home-group2205 {
  top: 10.000198364257812px;
  left: 0px;
  width: 120px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle55 {
  top: 4.05126953125px;
  left: 0px;
  width: 120px;
  height: 28px;
  position: absolute;
}
.home-text086 {
  left: 18px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-puzzlepieces1 {
  top: 76px;
  left: 98px;
  width: 75px;
  height: 75px;
  position: absolute;
}
.home-text088 {
  top: 194px;
  left: 10px;
  color: rgba(255, 255, 255, 1);
  width: 249px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-fact7 {
  width: 270px;
  height: 300px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
.home-back1 {
  top: 0px;
  left: 0px;
  width: 270px;
  height: 300px;
  position: absolute;
  border-radius: 20px;
}
.home-group2206 {
  top: 10.000198364257812px;
  left: 0px;
  width: 120px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle56 {
  top: 4.05126953125px;
  left: 0px;
  width: 120px;
  height: 28px;
  position: absolute;
}
.home-text090 {
  left: 18px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-weights1 {
  top: 76px;
  left: 98px;
  width: 75px;
  height: 75px;
  position: absolute;
}
.home-membership11 {
  top: 76px;
  left: 98px;
  width: 75px;
  height: 75px;
  position: absolute;
}
.home-text092 {
  top: 194px;
  left: 10px;
  color: rgba(255, 255, 255, 1);
  width: 249px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-fact8 {
  width: 270px;
  height: 300px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
.home-back2 {
  top: 0px;
  left: 0px;
  width: 270px;
  height: 300px;
  position: absolute;
  border-radius: 20px;
}
.home-group2207 {
  top: 10.000198364257812px;
  left: 0px;
  width: 120px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle57 {
  top: 4.05126953125px;
  left: 0px;
  width: 120px;
  height: 28px;
  position: absolute;
}
.home-text094 {
  left: 18px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text096 {
  top: 194px;
  left: 10px;
  color: rgba(255, 255, 255, 1);
  width: 249px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-gift1 {
  top: 76px;
  left: 98px;
  width: 75px;
  height: 75px;
  position: absolute;
}
.home-fourthscreen {
  gap: 10px;
  top: 3357px;
  left: 0px;
  width: 1600px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.home-back3 {
  width: 1600px;
  height: 1070px;
}
.home-app2 {
  top: 372px;
  left: 215px;
  width: 1170px;
  height: 598px;
  z-index: 1;
  position: absolute;
}
.home-text098 {
  top: 100px;
  left: 423px;
  color: var(--dl-color-default-yellomain);
  width: 754px;
  height: auto;
  z-index: 2;
  position: absolute;
  font-size: 64px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 104.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.home-thirdscreen {
  gap: 10px;
  top: 2171px;
  left: 0px;
  width: 1600px;
  display: flex;
  padding: 100px 215px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.home-thirdscreen1 {
  width: 1170px;
  height: 986px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-text102 {
  left: 402.0008544921875px;
  color: var(--dl-color-default-yellomain);
  width: 366px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-group14 {
  top: 142px;
  left: 0px;
  width: 1170.0008544921875px;
  height: 844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-photo1 {
  top: 0px;
  left: 0.0008544921875px;
  width: 700px;
  height: 467px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-foto1wb1 {
  top: 0px;
  left: 0px;
  width: 700px;
  height: 467px;
  position: absolute;
}
.home-text104 {
  top: 431px;
  left: 247.9991455078125px;
  color: var(--dl-color-default-yellomain);
  width: 452px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text106 {
  top: 273.2537841796875px;
  left: 158.77464294433594px;
  color: var(--dl-color-default-yellomain);
  width: 267px;
  height: auto;
  position: absolute;
  font-size: 94px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-photo2 {
  top: 497px;
  left: 700px;
  width: 470.0008544921875px;
  height: 347px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-foto2wb1 {
  top: 0px;
  left: 0.0008544921875px;
  width: 470px;
  height: 347px;
  position: absolute;
}
.home-text108 {
  top: 118px;
  left: 126.731201171875px;
  color: var(--dl-color-default-yellomain);
  width: 202px;
  height: auto;
  position: absolute;
  font-size: 94px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text110 {
  top: 311px;
  color: var(--dl-color-default-yellomain);
  width: 470px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-photo3 {
  top: 497px;
  left: 0px;
  width: 670.0008544921875px;
  height: 347px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-foto3wb1 {
  top: 0px;
  left: 0px;
  width: 670px;
  height: 347px;
  position: absolute;
}
.home-text112 {
  top: 227px;
  left: 470.63006591796875px;
  color: var(--dl-color-default-yellomain);
  width: 153px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 60.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text114 {
  top: 311px;
  left: 383px;
  color: var(--dl-color-default-yellomain);
  width: 287px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-photo4 {
  top: 0px;
  left: 730px;
  width: 440.0008544921875px;
  height: 467px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-foto4wb1 {
  top: 0px;
  left: 0.0008544921875px;
  width: 440px;
  height: 467px;
  position: absolute;
}
.home-text116 {
  top: 34px;
  left: 57.0008544921875px;
  color: var(--dl-color-default-yellomain);
  width: 33px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 60.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text134 {
  top: 431px;
  color: var(--dl-color-default-yellomain);
  width: 440px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-secondscreen {
  gap: 50px;
  top: 1427px;
  left: 0px;
  width: 1600px;
  display: flex;
  padding: 100px 247px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.home-text136 {
  color: var(--dl-color-default-yellomain);
  height: auto;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-abonnemens {
  gap: 30px;
  display: flex;
  align-items: center;
}
.home-abonnement1 {
  width: 270px;
  height: 342px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
.home-group3 {
  top: 30px;
  left: 0px;
  width: 150px;
  height: 38px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 209, 11, 1);
}
.home-text138 {
  top: 7px;
  left: 14px;
  color: rgba(0, 0, 0, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-group13 {
  top: 88px;
  left: 20px;
  width: 230px;
  height: 155px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-text140 {
  top: 96px;
  color: rgba(255, 255, 255, 1);
  width: 230px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text142 {
  left: 61px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-group25 {
  top: 280px;
  left: 45px;
  width: 180px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 209, 11, 1);
}
.home-text144 {
  top: 3px;
  left: 13px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-abonnement2 {
  width: 270px;
  height: 342px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
.home-group4 {
  top: 30px;
  left: 0px;
  width: 150px;
  height: 38px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 209, 11, 1);
}
.home-text146 {
  top: 7px;
  left: 41px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-group12 {
  top: 88px;
  left: 20px;
  width: 230px;
  height: 155px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-text148 {
  top: 96px;
  color: rgba(255, 255, 255, 1);
  width: 230px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text150 {
  left: 41px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-group24 {
  top: 280px;
  left: 45px;
  width: 180px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 209, 11, 1);
}
.home-text152 {
  top: 3px;
  left: 13px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-abonnement3 {
  width: 270px;
  height: 342px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
.home-group5 {
  top: 30px;
  left: 0px;
  width: 150px;
  height: 38px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 209, 11, 1);
}
.home-text154 {
  top: 7px;
  left: 9px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-group10 {
  top: 88px;
  left: 30px;
  width: 210px;
  height: 155px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-text156 {
  top: 96px;
  color: rgba(255, 255, 255, 1);
  width: 210px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text158 {
  left: 51px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-group251 {
  top: 280px;
  left: 45px;
  width: 180px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 209, 11, 1);
}
.home-text160 {
  top: 3px;
  left: 13px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-abonnement4 {
  width: 270px;
  height: 342px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
.home-group6 {
  top: 30px;
  left: 0px;
  width: 150px;
  height: 38px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 209, 11, 1);
}
.home-text162 {
  top: 7px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-group11 {
  top: 88px;
  left: 20px;
  width: 230px;
  height: 155px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-text164 {
  top: 96px;
  color: rgba(255, 255, 255, 1);
  width: 230px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text166 {
  left: 56px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-group26 {
  top: 280px;
  left: 45px;
  width: 180px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 209, 11, 1);
}
.home-text168 {
  top: 3px;
  left: 13px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-detailinfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.home-text170 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-line1 {
  width: 203px;
  height: 1px;
}
.home-firstscreen {
  gap: 10px;
  top: 635px;
  left: 0px;
  width: 1600px;
  display: flex;
  position: absolute;
  background: linear-gradient(180deg, rgba(60, 62, 65, 1) 0%);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-group28 {
  width: 1600px;
  height: 792px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-text172 {
  top: 106px;
  left: 651.5px;
  color: var(--dl-color-default-yellomain);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-cards {
  gap: 30px;
  top: 248px;
  left: 215px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.home-dance {
  width: 270px;
  height: 438px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
.home-dance1 {
  top: 82.06082916259766px;
  left: 72px;
  width: 125px;
  height: 128px;
  position: absolute;
  box-sizing: content-box;
  border-radius: 4px;
}
.home-group2208 {
  top: 20.515085220336914px;
  left: 0px;
  width: 100px;
  height: 41.03044509887695px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 209, 11, 1);
}
.home-text174 {
  top: 2.0516154766082764px;
  left: 15px;
  color: rgba(0, 0, 0, 1);
  width: 70px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-group241 {
  top: 376px;
  left: 45px;
  width: 180px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 209, 11, 1);
}
.home-text176 {
  top: 3px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text178 {
  top: 230.79617309570312px;
  left: 10px;
  color: rgba(255, 255, 255, 1);
  width: 249px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-fly {
  width: 270px;
  height: 438px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
.home-group261 {
  top: 376px;
  left: 45px;
  width: 180px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 209, 11, 1);
}
.home-text182 {
  top: 3px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-group252 {
  top: 20.51507568359375px;
  left: 0px;
  width: 185px;
  height: 41.03044509887695px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 209, 11, 1);
}
.home-text184 {
  top: 2.0516154766082764px;
  left: 2px;
  color: rgba(0, 0, 0, 1);
  width: 181px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-wellness1 {
  top: 82.06085205078125px;
  left: 69px;
  width: 125px;
  height: 128px;
  position: absolute;
  box-sizing: content-box;
  border-radius: 4px;
}
.home-text186 {
  top: 230.796142578125px;
  left: 10px;
  color: rgba(255, 255, 255, 1);
  width: 249px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.home-boxing {
  width: 270px;
  height: 438px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
.home-group2209 {
  top: 20.515085220336914px;
  left: 0px;
  width: 100px;
  height: 41.03044509887695px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 209, 11, 1);
}
.home-text190 {
  top: 2.0516154766082764px;
  left: 4px;
  color: rgba(0, 0, 0, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-group23 {
  top: 376px;
  left: 45px;
  width: 180px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 209, 11, 1);
}
.home-text192 {
  top: 3px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-boxing1 {
  top: 82.06082916259766px;
  left: 75px;
  width: 125px;
  height: 128px;
  position: absolute;
}
.home-text194 {
  top: 230.796142578125px;
  left: 10px;
  color: rgba(255, 255, 255, 1);
  width: 249px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.home-karate {
  width: 270px;
  height: 438px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
.home-group2210 {
  top: 20.51507568359375px;
  left: 0px;
  width: 100px;
  height: 41.03044509887695px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 209, 11, 1);
}
.home-text200 {
  top: 2.0516154766082764px;
  left: 8px;
  color: rgba(0, 0, 0, 1);
  width: 84px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-judo1 {
  top: 80.00921630859375px;
  left: 72px;
  width: 125px;
  height: 128px;
  position: absolute;
}
.home-group242 {
  top: 376px;
  left: 45px;
  width: 180px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 209, 11, 1);
}
.home-text202 {
  top: 3px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text204 {
  top: 244.74468994140625px;
  left: 8px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.home-mainscreen {
  gap: 10px;
  top: 0px;
  left: 0px;
  width: 1600px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.home-group29 {
  width: 1600px;
  height: 635px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-backfoto {
  top: 0px;
  left: 0.5px;
  width: 1599px;
  height: 635px;
  position: absolute;
}
.home-header {
  top: 60px;
  left: 226px;
  width: 898px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-logo {
  top: 0px;
  left: 0px;
  width: 262px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-text210 {
  top: 8.099893569946289px;
  left: 54px;
  color: var(--dl-color-default-yellomain);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-logo1 {
  top: 0px;
  left: 0px;
  width: 45px;
  height: 46px;
  position: absolute;
}
.home-group2 {
  top: 12px;
  left: 292px;
  width: 606px;
  height: 21px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-text212 {
  top: 2px;
  color: var(--dl-color-default-yellomain);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text214 {
  top: 2px;
  left: 102px;
  color: var(--dl-color-default-yellomain);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text216 {
  top: 2px;
  left: 191px;
  color: var(--dl-color-default-yellomain);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text218 {
  top: 2px;
  left: 283px;
  color: var(--dl-color-default-yellomain);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text220 {
  left: 392px;
  color: var(--dl-color-default-yellomain);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text222 {
  left: 561px;
  color: var(--dl-color-default-yellomain);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-button-text {
  top: 145px;
  left: 522px;
  width: 556px;
  height: 400px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-maintext {
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.home-text224 {
  color: var(--dl-color-default-yellomain);
  height: auto;
  font-size: 64px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text226 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 64px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text228 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 64px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text229 {
  color: rgba(255, 255, 255, 1);
}
.home-buttonforenroll {
  gap: 10px;
  left: 29px;
  bottom: -80px;
  display: flex;
  padding: 14px 54px;
  position: absolute;
  align-items: flex-end;
  border-color: rgba(250, 209, 11, 1);
  border-style: solid;
  border-width: 5px;
  border-radius: 100px;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0);
}
.home-text231 {
  color: var(--dl-color-default-yellomain);
  height: auto;
  font-size: 36px;
  font-style: Bold;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
